<div class="container">
  <div class="row">
    <div class="jumbotron span7">
        <h2><span style="color: darkblue" class="fa fa-bar-chart-o"></span> FinPln</h2>
        <h5>
            <ul>
              <li>Планируй свое финансовое благополучие</li>
              <li>Грамотно управляй своими финансами</li>
              <li>Всегда оставайся пунктуальным в оплате счетов</li>
            </ul>
          ...а мы в этом поможем
        </h5>
      <br>
      <blockquote>
        <p><i class="fa fa-quote-left"></i>
          Деньгами надо управлять, а не служить им.
          <small>Сенека</small>
        </p>
      </blockquote>
    </div>
    <div class="jumbotron span4">
        <div class="container">
          <h4 align = "center">
            <%= yield %>
          </h4>
        </div>
    </div>
  </div>
</div>


