<div class="container">
  <div class="row">
    <div class="jumbotron span7">
        <h2><span style="color: darkblue" class="fa fa-bar-chart-o"></span> FinPln</h2>
        <h4>
            <ul>
              <li>Планируй свое финансовое благополучие</li>
              <li>Грамотно управляй своими финансами</li>
              <li>Всегда оставайся пунктуальным в оплате счетов</li>
            </ul>
          ...а мы в этом поможем
        </h4>
      <br>
      <blockquote>
        <p><i class="fa fa-quote-left"></i>
          <strong>CORRIGE PRAETERITUM, PRAESENS REGE, CERNE FUTURUM - </strong><br/>
          Исправляй прошлое, руководи настоящим, предусматривай будущее
          <small>Сенека</small>
        </p>
      </blockquote>
    </div>
    <div class="span4">
            <%= yield %>
    </div>
  </div>
</div>


